
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid blue; */
}

#outer-grid-container {
  margin: 0px 50px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

/* #header p {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
} */

h1, h3 {
  text-align: center;
}

#products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#product-form {
  width: 500px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;

}

#product-form * {
  padding: 5px;
  margin: 5px 0px;
}

#product-form input {
  width: 470px;
}

#product-form button {
  display: block;
  width: 300px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
}

.product-item {
  max-width: 350px;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}

.image-container {
  max-width: 350px;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.product-content {
  /* padding: 0px 5px; */
}

.product-name {
  height: 60px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: 600;
}

