:root {
  /* --header-bg-color: #ffc180;
  --header-text-color: ;
  --text-color-level-4:
  --footer-bg-color: #ffe6cc; */

  /* --bg-color-level-1: #f2f2f2; */
  --bg-color-level-1: #fff3e6;
  --border-color-level-1: #eae8e8fd;

  --bg-color-level-2: #feeddb;
  --border-color-level-2: #eaded2;
  --text-color-level-2: #bf6506;

  --bg-color-level-3: #ffdd99;
  --border-color-level-3: #ffdd99;
  --text-color-level-3: #fb8405;

  --bg-color-level-4: #ffc180;
  --border-color-level-4: #ffc180;
  --text-color-level-4: #bf6506;

  --bg-color-level-5: #ffc180;
  --border-color-level-5: #ffc180;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid blue; */
}

#outer-container {
  margin: 0px 50px;
  background-color: var(--bg-color-level-1);
  border: 1px solid var(--border-color-level-1);
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  background: var(--bg-color-level-4);
  color: var(--text-color-level-4);
}

/* #header p {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
} */

h1, h3 {
  text-align: center;
  background-color: var(--bg-color-level-3);
  color: var(--text-color-level-2);
  /* border: 1px solid var(--border-color-level-2); */
}

#products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#product-form {
  width: 500px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: var(--bg-color-level-2);
  border: 1px solid var(--border-color-level-2);
}

#product-form * {
  padding: 5px;
  margin: 5px 0px;
}

#product-form input {
  width: 470px;
  background-color: var(--bg-color-level-1);
  outline-color: var(--border-color-level-2);
  border: 1px solid var(--border-color-level-2);
}

#product-form h3 {
  background-color: var(--bg-color-level-2);
  border-bottom: 1px solid var(--border-color-level-2);
}

#product-form button {
  display: block;
  width: 300px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  background-color: var(--bg-color-level-5);
  color: var(--text-color-level-4);
  border: 1px solid var(--bg-color-level-5);
}

.product-item {
  max-width: 350px;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color-level-2);
  border: 1px solid var(--border-color-level-2);
}

.image-container {
  max-width: 350px;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.product-content {
  padding: 5px 0px;
}

.product-name {
  height: 60px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: 600;
  background-color: var(--bg-color-level-3);
  color: var(--text-color-level-3);
}

